{% extends "layouts.html" %}
{% block content%}

<div class="row d-flex justify-content-center">
    <div class="col-xs-1 center-block">
	<aside class="col-sm-4">
        {% from "_formhelpers.html" import render_field %}

  
<div class="card" style="width: 50rem;">
<article class="card-body">
	<h4 class="card-title text-center mb-4 mt-1">Cadastrar</h4>
	<hr>
	<form method=post>
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                {{render_field(form.name, class="form-control")}}
                {{render_field(form.username, class="form-control")}}
                {{render_field(form.email, class="form-control")}}
                {{render_field(form.password, class="form-control")}}
                {{render_field(form.confirm, class="form-control")}}
                {{form.profile()}}
            </div>
            <div class="col-md-4">
                {{render_field(form.country, class="form-control")}}
                {{render_field(form.city, class="form-control")}}
                {{render_field(form.contact, class="form-control")}}
                {{render_field(form.adress, class="form-control")}}
                {{render_field(form.zipcode, class="form-control")}}
                {{form.submit(class="btn btn-sm btn-success float-right")}}
            </div>
        </div>
	</div> 
	</form>
</article>


	</aside> 
</div>
{% endblock content%}