{% extends 'layouts.html' %}

{% block content %}
<center>
 

<div class="col-md-6 bg-info">

<h4>Obrigado por comprar em nossa loja!</h4>
<td><img src="{{url_for('static', filename='images/thanks.jpg')}}"   width="300" height="300"></td>
<td><img src="http://gifgifs.com/animations/holidays/winter-holidays/gingerbread_man.gif"   width="300" height="300"></td>
<br>
<button type="submit" class="btn btn-sm btn-warning float-center mt-4"><a href="https://www.youtube.com/watch?v=yR3otY7IHMI">Fechar com o MUCA</a></button>
<div class="tenor-gif-embed" data-postid="22672149" data-share-method="host" data-aspect-ratio="1.29555" data-width="100%"><a href="https://tenor.com/view/4lan-4la-dancinha-dan%C3%A7alan-gif-22672149">4lan Dancinha GIF</a>from <a href="https://tenor.com/search/4lan-gifs">4lan GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<iframe width="560" height="315" src="https://www.youtube.com/embed/MxRd1NbhN_E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="tenor-gif-embed" data-postid="8657093" data-share-method="host" data-aspect-ratio="1.02804" data-width="100%"><a href="https://tenor.com/view/gretchen-gif-8657093">Gretchen GIF</a>from <a href="https://tenor.com/search/gretchen-gifs">Gretchen GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<iframe width="560" height="315" src="https://www.youtube.com/embed/MxRd1NbhN_E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="tenor-gif-embed" data-postid="14439617" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/grande-dia-bolsonaro-presidente-brasil-thumbs-up-gif-14439617">Grande Dia Bolsonaro GIF</a>from <a href="https://tenor.com/search/grande+dia-gifs">Grande Dia GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>



 
</center>

{% endblock content %}