<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Gerar PDF</title>
  </head>
  <body>

<div class="container mt-4">
    
    <div class="row">
        <div class="col-md-12">
            <b style = "float:right;">Número do Pedido: {{pedidos.notafiscal}}</b>
            <br>
            Status do Pedido: {{pedidos.status}}
            <br>
            Nome do Cliente {{cliente.name}}
            <br>
            Email do Cliente: {{cliente.email}}
            <br>
            Telefone do Cliente {{cliente.contact}}
            <br>
            <br>
        <table class="table tabke-sm">
            <thead>
                <th> Código </th>
                <th> Nome </th>
                <th> Preço </th>
                <th> Quantidade </th>
                <th> Desconto </th>
                <th> SubTotal </th>
                
            </thead>

            <tbody>
                {% for key , produto in pedidos.pedido.items() %}
                {% set discount = "%0.2f" | format((produto.discount/100) * produto.price|float) %}
                <tr>
                    <td>{{loop.index}}</td>
        
                    <td>{{produto.name}}</td>
                    <form action="{{url_for('updateCarro', code=key)}}" method="POST">
                        <td>R${{produto.price}}</td>
                        <td>{{produto.quantity}}</td>
                        {% if produto.discount > 0 %}
                        <td>{{produto.discount}}% &nbsp; = {{discount}}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% set subtotal = produto.quantity|int * produto.price|float %}
                        <td>R${{"%0.2f"|format((subTotal|float) - discount|float)}}</td> 
 
                    </form>
          
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <table class="table table-sm">

                <tr>
                    <td></td>
                
                    <td colspan="3">Imposto:&nbsp; R${{imposto}}</td>
                    <td colspan="5">Valor Pagar:&nbsp; R${{gTotal}}</td>
                   
                </tr>
            
            </table>
    </div>
  </div>
</div>
