{% extends 'layouts.html' %} 

{% block content %}

{% include 'navbar.html' %}

<div class="container mt-4">
    
    <div class="row">
        <div class="col-md-12">
        <table class="table tabke-sm">
            <thead>
                <th> Código </th>
                <th> Nome </th>
                <th> Preço </th>
                <th> Quantidade </th>
                <th> Desconto </th>
                <th> SubTotal </th>
                
            </thead>

            <tbody>
                {% for key , produto in pedidos.pedido.items() %}
                {% set discount = "%0.2f" | format((produto.discount/100) * produto.price|float) %}
                <tr>
                    <td>{{loop.index}}</td>
        
                    <td>{{produto.name}}</td>
                    <form action="{{url_for('updateCarro', code=key)}}" method="POST">
                        <td>R${{produto.price}}</td>
                        <td>{{produto.quantity}}</td>
                        {% if produto.discount > 0 %}
                        <td>{{produto.discount}}% &nbsp; = {{discount}}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% set subtotal = produto.quantity|int * produto.price|float %}
                        <td>R${{"%0.2f"|format((subTotal|float) - discount|float)}}</td> 
 
                    </form>
          
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <table class="table table-sm">

                <tr>
                    <td></td>
                    <td><a href="{{url_for('pedido_order')}}" class="btn btn-success btn-sm float-left">Finalizar Compra</a></td>
                    <td colspan="3">Imposto:&nbsp; R${{imposto}}</td>
                    <td colspan="5">Valor Pagar:&nbsp; R${{gTotal}}</td>
                    <td><a href="{{url_for('limparcarro')}}" class="btn btn-warning btn-sm float-right">Baixar NF-e</td>
                </tr>
            
            </table>
    </div>
  </div>
</div>
{% endblock content %}